.services__section {
    height: 85vh;
}

.pricelist {
    border: 2px solid var(--red);
}

@media only screen and (min-width: 1024px) {
    .services__section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/src/assets/services.png");
    }
  }