.about__section {
    height: 85vh;
    
}

@media only screen and (min-width: 1024px) {
    .about__section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("/src/assets/about.png");
    }
  }